*{
    font-family: 'Roboto', sans-serif;
}
ion-content {
    --background: url('../../../assets/img/WhatsApp\ Image\ 2021-07-29\ at\ 10.27.42.jpeg') no-repeat 100% 100%;
    --background-position: center !important;
    --background-size: cover !important;
    --background-repeat: no-repeat !important;
    --align-items: initial;
    
}
#header{
    width: 100%;
   
    text-align: center;
    position: absolute;
    top:70px;
    left: 10%;
    -webkit-backdrop-filter: sepia() hue-rotate(20deg);
    backdrop-filter: blur(1.5px);
   
    //flex-direction: column;
    //align-items: center;
    ion-img{
        width: 300px;
        height: 300px;
       
    }
  
}
.authButton{
   position:absolute;
   width:100%;
   
   bottom: 250px; 
   //background-color: chartreuse;
   button{
       background: transparent !important;
       -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
       //filter: blur(1px);
    //-webkit-filter: blur(1px);
    -webkit-backdrop-filter: sepia() hue-rotate(120deg);
    width: 100%;
       border: 3px solid white;
       padding:4%;
     
       border-radius: 40px;
       font-size: 2rem;
       font-weight: 420;
       color: white;
      
    
   }
   padding-left:20px;
   padding-right:20px;
   
}

.footer{
    position:absolute; 
    width:100%;
    bottom: 30px; 
    text-align: center;
    h3{
        font-size: 1.2rem;
        font-weight: 400;
        color: white;
    }

    ion-button{
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        border: 3px solid white;
        --padding:3% !important;
      
        border-radius: 40px;
        font-size: 1.5rem;
        font-weight: 420; 
        color: white;
        margin-left:20px;
        margin-right:20px;
        margin-bottom: 50px;
    }
}

//media qaueries
@media screen and (max-width: 320px) and (min-width: 320px){
    #header{
        width: 100%;
       
        text-align: center;
        position: absolute;
        top:50px;
        left: 10%;
        -webkit-backdrop-filter: sepia() hue-rotate(20deg);
        backdrop-filter: blur(1.5px);
       
        //flex-direction: column;
        //align-items: center;
        ion-img{
            width: 250px;
            height: 250px;
           
        }
      
    }
}