

<ion-content>
  <div class="header">
    <ion-text slot="start">
      <h1>dashbord</h1>
    </ion-text>
    <ion-avatar slot="end">
      <img src="../../../assets/img/Farmru_logo_size3.png" alt="">
    </ion-avatar>
  </div>



  <div class="soil-moisture">
    <ion-text>
      p
    </ion-text><br>
    <ion-text>
      p
    </ion-text><br>
    <ion-text>
      p
    </ion-text>
  </div>

  <div class="cloud-database">
    <ion-text>
      p
    </ion-text><br>
    <ion-text>
      p
    </ion-text><br>
    <ion-text>
      p
    </ion-text>
  </div>
   
  <div class="card">
    <ion-img src="../../../assets/img/Farmru_logo_size1.png" ></ion-img>
  </div>
</ion-content>
