

<ion-content>
  <div class="logo">
    
      <img src="../../../assets/Farmru_logo_size1.png" alt="">
  
  </div>
  
  <form>
    <ion-item>
      <ion-label position="stacked" >full names</ion-label>
      <ion-input type="tel"></ion-input>
    </ion-item>
     <ion-item>
      <ion-label position="stacked">unique app id</ion-label>
      <ion-input type="tel"></ion-input>
    </ion-item>
     <ion-item>
      <ion-label position="stacked">ID number</ion-label>
      <ion-input type="tel"></ion-input>
    </ion-item>
     <ion-item>
      <ion-label position="stacked">email address</ion-label>
      <ion-input type="tel"></ion-input>
    </ion-item>
     <ion-item>
      <ion-label position="stacked">create password</ion-label>
      <ion-input type="tel"></ion-input>
    </ion-item>
     <ion-item>
      <ion-label position="stacked">confim password</ion-label>
      <ion-input type="tel"></ion-input>
    </ion-item>

     <div class="authButton">
      <button>sign up</button>
     </div>
   </form>
   <div class="footer">
     <ion-text>
       <h3>Already have an account? <span>Sign in</span></h3>
     </ion-text>
    
   </div>
</ion-content>
