*{
    font-family: 'Roboto', sans-serif;
}
ion-item{
   
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 40px;
    margin-left: 15px;
    margin-right: 15px;
    --background: transparent !important;

}
ion-content {
    --background: url('../../../assets/img/imga2.jpg') no-repeat 100% 100%;
    --background-position: center !important;
    --background-size: cover !important;
    --background-repeat: no-repeat !important;
    --align-items: initial;
}
.authButton{
    position:absolute;
    width:100%;
    
    bottom: 80px; 
    //background-color: chartreuse;
    button{
        background: transparent !important;
        border: 2px solid white;
        padding:4%;
        width: 100%;
        border-radius: 40px;
        font-size: 2rem;
        font-weight: 420;
        color: white;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
    padding-left:33px !important;
    padding-right:28px;
    
 }
 
 .footer{
     position:absolute;
     width:100%;
     bottom: 10px; 
     text-align: center;
     h3{
         font-size: 1.2rem;
         font-weight: 400;
         color: white;
     }
 }
 ion-label{
    
    text-align: center;
    border: 2px solid white;
    border-radius: 40px;
    //width: 10px !important;
}
ion-input{
   padding:1.5% !important;
   border-radius: 40px;
   border:none !important;
   border: 2px solid white !important;
   width: 100%;
   text-align: center;
   color: white;
   font-size: 23px;
   font-family: 'Roboto', sans-serif;
   -webkit-backdrop-filter: blur(5px);
   backdrop-filter: blur(5px);

}

ion-label{
    margin-bottom: -13px !important;
    z-index: 100 !important;
    background-color:rgb(224, 219, 219);
    padding: 1%;
    margin-left: 70px;
    margin-right:70px;
    margin-bottom: 10px;
   border: none !important;
  
}
ion-item{
   margin-left: 20px;
   margin-right: 20px;
   margin-bottom: 10px;
}
form{
    
  
}
img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 2%;

}