
<ion-content [fullscreen]="true" >
  <div class="header">
    <ion-text class="welcome-text">
      <h2>welcome back,</h2>
    </ion-text>
  </div>
   
   <form>
    <ion-item>
      <ion-label position="stacked" >email address</ion-label>
      <ion-input type="tel"></ion-input>
    </ion-item>
     <ion-item>
      <ion-label position="stacked">password</ion-label>
      <ion-input type="tel"></ion-input>
    </ion-item>

     <div class="authButton">
      <button>sign in</button>
     </div>
   </form>
   <div class="footer">
    <ion-text>
      <h3>Don't have an account? <span>Sign up</span></h3>
    </ion-text>
   
    </div>
</ion-content>
