*{
    font-family: 'Roboto', sans-serif;
}
ion-content {
    --background: url('../../../assets/img/imga2.jpg') no-repeat 100% 100%;
    --background-position: center !important;
    --background-size: cover !important;
    --background-repeat: no-repeat !important;
    --align-items: initial;
}
.welcome-text{
   
   position: absolute;
   top:35%;
   margin-left: 25px;
   
   
}
.welcome-text h2:nth-child(1){
    font-size: 30px;
    font-weight: 300;
    //margin-top: 16rem !important;
    color: white;
 
  
}
.welcome-text h2:nth-child(2){
    font-size: 30px;
    font-weight: 800;
    margin-top: -10px !important;
    color: white;
  
}

.header{
    //padding-top: 100x;
}

form{
   
   position: absolute;
   bottom: 100px;
   width: 100% !important;
}

.authButton{
   // position:absolute;
    width:100% !important;
    
   bottom: 60px !important; 
  
    button{
        background: transparent !important;
        border: 2px solid white;
        padding:4%;
        width: 100%;
        border-radius: 40px;
        font-size: 2rem;
        font-weight: 420;
        color: white;
        margin-top: 10px;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
     
    }
   padding-left:30px;
   padding-right:30px;
    
 }
 
 .footer{
     position:absolute;
     width:100%;
     bottom: 30px; 
     text-align: center;
     h3{
         font-size: 1.2rem;
         font-weight: 400;
         color: white;
     }
 }
 ion-label{
    
     text-align: center;
     border: 1px solid black;
     border-radius: 40px;
     //width: 10px !important;
 }
 ion-input{
    padding:3% !important;
    border-radius: 40px;
    border:none !important;
    border: 2px solid white !important;
    width: 100%;
    text-align: center;
   color: white;
   font-size: 23px;
   font-family: 'Roboto', sans-serif;
   -webkit-backdrop-filter: blur(5px);
   backdrop-filter: blur(5px);
 }

 ion-label{
     margin-bottom: -13px !important;
     z-index: 100 !important;
     background-color:rgb(224, 219, 219);
     padding: 1%;
     margin-left: 70px;
     margin-right:70px;
     margin-bottom: 10px;
    border: none !important;
   
}
ion-item{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
   --background: transparent !important;
}
