ion-tab-bar{
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  --background: transparent;
    background-color: 	#E3B266;
  padding-top:10px;

  ion-label{
    margin-top: -7px;
    font-size: 9px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }
  
} 
ion-tab-button{
  color: #774e10;
}
  img{
    width:40px;
    height:40px;

    //color: white !important;
  }
  .tab-selected{
    color:white;
  }
